version: '3'

services:
  web:
    image: ${DOCKER_IMAGE}
    ports:
      - 80
    environment:
      VIRTUAL_HOST: ${VIRTUAL_HOST}.${HOST_NAME}
      LETSENCRYPT_HOST: mailhog.${HOST_NAME}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL}
    restart: always

networks:
  default:
    external:
      name: docker-server_default